.header{
    background-image: linear-gradient(0,#fe6433,#f53e2d);
    height: var(--header-height);
}

.navbar{
    height: var(--navbar-height);
}

.navbar-btn:nth-child(1){
    display: flex;
    justify-content: flex-start;
}

.navbar-btn:nth-child(2){
    display: flex;
    justify-content: flex-end;
}

.navbar__list{
    margin: 0;
    padding: 0;
}

.navbar__list-item{
    display: inline-block;
    list-style-type: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    animation: opacity ease 0.6s;
    position: relative;
}

.navbar__list-item:hover .navbar__qrcode{
    display: block;
}

.navbar__list-link,.navbar__list-icon-link,
.navbar__list-uer-name{
    text-decoration: none;
    color: var(--white-color);
}

.navbar__list-item-last{
    border-left:  2px solid rgba(247, 247, 247, 0.5);
    padding-left: 8px;
}

.navbar__list-icon-link:hover, 
.navbar__list-item-text:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navbar__list-link--bold{
    font-weight: 400;
    padding: 2px 0;
}

.navbar__list,
.navbar__list-item,
.navbar__list-icon-link,
.navbar__list-link,
.navbar__list-user-name,
.navbar__list-user-img{
    display: inline-flex;
    align-items: center;
}

.navbar__qrcode{
    position: absolute;
    top: var(--top_position_QRcode_Notify);
    right: 0;
    width: var(--width-QRcode);
    background-color: var(--white-color);
    animation: fadeIn ease-in-out 0.3s;
    display: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    z-index: 999;
}

.navbar__qrcode::before{
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    left: 0px;
    width: 100%;
    height: var(--height-connect_pseudoclass);
}

.navbar__qrcode-img{
    width: 100%;
    padding: 1px;
}

.navbar__apps{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.navbar__apps-link:nth-child(1){
    margin-left: 10px;
}

.navbar__apps-link:nth-child(2){
    margin-right: 10px;
}

.navbar__apps-img{
    height:var(--height-navbar__apps-img);
}

.navbar__list-item:hover .user-menu{
    display: block;
}

.navbar__list-user-img{
    height: 20px;
    border-radius: 50px;
    margin-right: 6px;

}

.navbar__list-user-name{
    
    display: flex;
    align-items: flex-end;
}

.user-menu{
    top: 180%;
    right: 0;
    display: none;
    z-index: 9999999;
    position:absolute;
    width: var(--width-usermenu);
    will-change: opacity , transform; 
    background-color: var(--white-color);
    transform-origin:  calc(100% - 30px) top;
    animation: fadeIn ease 0.2s, GrowUp ease 0.2s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.user-menu::after{
    content: "";
    border-width: 26px 22px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -38px;
    right: 2px;
    z-index: -1;
}

.user-menu::before{
    content: "";
    display: block;
    width: 100%;
    height: var(--height-connect_pseudoclass);
    position: absolute;
    top: -24%;
    right: 0;
}

.user-menu__account,
.user-menu__address,
.user-menu__bill,
.user-menu__logout{
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    padding: 12px 12px;
}

.user-menu__logout{
    border-top: 1px solid rgba(204, 204, 204, 0.1);
}

.user-menu__account:hover,
.user-menu__address:hover,
.user-menu__bill:hover,
.user-menu__logout:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.navbar-notify{
    width: var(--width-notify);
    position: absolute;
    top: var(--top_position_QRcode_Notify);
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d4cece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    display: none;
    transform-origin:  calc(100% - 30px) top;
    animation: fadeIn ease 0.2s, GrowUp ease 0.2s;
    will-change: opacity , transform;    
    border-radius: 2px;
    z-index:999;
}

.navbar-notify::before{
    content: "";
    border-width: 20px 24px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -32px;
    right: 10px;   
}

.navbar-notify::after{
    content: "";
    display: block;
    width: 100%;
    height: var(--height-connect_pseudoclass);
    position: absolute;
    top: -4%;
    right: 0;
}

/* .navbar__list:nth-child(2):hover .navbar-notify{
    display: block;
} */

.navbar__list-item--notify:hover .navbar-notify{
    display: block;
}

.navbar-notify__header h3{
    color: #d4cece;
    padding: 0 0 0 12px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.4rem;
}

.navbar-notify__content{
    padding: 0;
}

.navbar-notify__content-item:hover{
    background-color: #e4e4e4;
}

.navbar-notify__content-item{
    width: 100%;
    background-color: rgba(245, 62, 45,0.1);
    padding: 4px 0 4px 12px ;
    min-height: 74px;
}

.navbar-notify__content-item--viewed{
    background-color: #fff;
}

.navbar-notify__content-item-link{
    display: flex;
    text-decoration: none;
}

.navbar-notify__content-item-img{
    height: var(--notify__content-item-img);
    object-fit: contain;
    border: 1px solid rgba(0,0,0,0.09);
}

.navbar-notify__content-item-info{
    padding: 0 0 0 12px;
    line-height: 24px;
}

.navbar-notify__content-tittle{
    color: var(--black-color);
    display: block;
    font-size: 1.4rem;
}

.navbar-notify__content-description{
    color: #7f7f7f;
    display: block;
    font-size: 1.4rem;
}
.navbar-notify__footer{
    padding: 16px;
    color: var(--text-color);
    text-align: center;
    font-size: 1.6rem;
}

.navbar-notify__footer-link{
    text-decoration: none;
    color: var(--text-color);
}

/* SignIn/SignUp modal */

#modal-SignUp,#modal-SignIn{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; 
    will-change: GrowUp,FadeIn;
}

.modal__overlay{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
    animation: FadeIn linear 0.1s;
}
.modal__body{
    position: relative;
    z-index: 2;
    margin: auto;
    background-color:var(--white-color);
    max-width: var(--max-width-modalbody) ;
    border-radius:2px;
    overflow:hidden;
    animation: GrowUp linear 0.1s;
}

.modalInner_header{
    display:flex;
    justify-content: space-between;    
    padding: 48px 32px;
}

.modalInner_header-btn{
    display: block;
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 400;
}

.modalInner_header-btn:nth-child(2):hover{
    color: rgb(255, 188, 188);
    cursor: pointer;
}

.modalInner_header-btn:nth-child(2){
    color: var(--current-color);
    font-size: 2rem;
}

.modalInner_content{
    padding: 0 32px;
}

.policy{
    text-align:center;
    margin: 32px 12px 48px 12px;
    font-size: 1.2rem;
    line-height: 2rem;
}
.policy-link,.modalInner_content-help-forgot{
    text-decoration: none;
    color: var(--current-color);
}



.formCheck{
    display: block;
    width: 100%;
    padding : 12px 8px; 
    outline-color   : #888;
    font-size: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.Sendverification{
    background-color: #e4e4e4;
}

.Sendverification:hover{
    opacity: 0.8;
    cursor: pointer;
}

.functionBtn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.getback-btn,.register-btn{
    border:none;
    display: block; 
    padding: 8px 36px;
    margin: 32px 8px 0 8px;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 2px;
}

.getback-btn:hover{
    background-color:rgba(196, 196, 196, 0.2);
    cursor: pointer;
}

.register-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}


.getback-btn{
    background-color:var(--white-color);
    color: #4d4848;
}

.register-btn{
    background-color:var(--current-color);
    color:var(--white-color);
}

.modalInner_footer{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color:#e9e9e9;
    height: 64px;
    padding: 0 22px;
}

.modalInner_footer i{
    font-size: 1.8rem;
}

.modal-footer__sms,.modal-footer__fb,
.modal-footer__google{
    padding: 4px 8px;
    margin: 16px 4px;
    border-radius: 2px;
}

.modal-footer__fb:hover,
.modal-footer__google:hover{
    opacity: 0.9;
    cursor: pointer;
}

.modal-footer__sms,.modal-footer__fb,
.modal-footer__google,.modal-footer-text{
    display:inline-flex;
    align-items:center;
}

.modal-footer-text{
    margin :0 32px;
}

.modal-footer__fb{
    background-color:#0d4a99;
    color: var(--white-color);
    font-size: 1.4rem;
}

.modal-footer__google{
    background-color:var(--white-color);
    color: #666;
    font-size: 1.4rem;
}


/* SignIn modal */


.modalInner_content-help{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    margin: 24px 12px 48px 12px;
    font-size: 1.4rem;
}

.modalInner_content-help-forgot{
    padding-right:12px;
}

.modalInner_content-help-needAhelp{
    text-decoration: none;
    color: var(--grey-color);
    border-left: 1px solid var(--grey-color);
    padding-left: 12px;
}

.modal-footer-text-signIn{
    margin :0 22px;
}

.modal-footer__sms-signIn,
.modal-footer__fb-signIn,
.modal-footer__google-signIn{   
    padding: 4px 16px;
    margin: 16px 4px;
    border-radius: 2px;
}

.modal-footer__sms-signIn:hover,
.modal-footer__fb-signIn:hover,
.modal-footer__google-signIn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.modal-footer__sms-signIn,
.modal-footer__fb-signIn,
.modal-footer__google-signIn,
.modal-footer-text-signIn{
    display: inline-flex;
    align-items: center;
}

.modal-footer__sms-signIn{
    background-color:#3ec545;
    color: var(--white-color);
    font-size: 1.4rem;
}

.modal-footer__fb-signIn{
    background-color:#0d4a99;
    color: var(--white-color);
    font-size: 1.4rem;
}

.modal-footer__google-signIn{
    background-color:var(--white-color);
    color: #666;
    font-size: 1.4rem;
}

.search{
    height: var(--search-height);
    align-items: center;
    padding-bottom: 17px;
}

.search__shopeelogo,
.search__shopeelogo-symbol,
.search__item-inputbox,
.search__item,
.search__item-inputbox,
.search__item-button,
.search__cart,
.search__cart-icon{
    display: inline-flex;
    align-items: center;
}

.search__shopeelogo-symbol{
    height: 48px;
    width: 146px;
    fill: var(--white-color);
    margin-left: -4px;
    
}

.search__item{
    display: flex;
    background-color:var(--white-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    position: relative;
    flex: 1;
}

.search__item-input{
    padding: 0; 
}

.search__item-inputbox{
    width: 100%;
    padding: 10px 16px;
    font-size: 1.4rem;
    border: none;
    font-weight:400;
    outline: none;
}

#searching-history{
    z-index: 99999;
    display: none;
    position: absolute;
    top: 108%;
    left: 0;
    background-color: var(--white-color);
    width: 75%;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.searching-history::before{
    content: "";
    display: block;
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: var(--height-connect_pseudoclass);
}

.searching-history__header{
    color: rgba(117, 117, 117, 0.5);
    font-size: 1.4rem;
    font-weight: 300;
    padding-left: 14px;
    margin: 12px 0;
}

.searching-history__content-item{
    list-style-type: none;
    padding: 0;
}

.searching-history__content-label:hover{
    cursor: pointer;
    background-color:rgba(240, 240, 240,0.5);
}

.searching-history__content-label{
    padding: 12px 0 12px 14px;
}

.searching-history__content-label a{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
}

.search__item-input-selection{
    position: relative;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 0 0 16px;
    text-align: left;   
    border-left: 1px solid rgb(177, 177, 177);
}

.search__item-input-selection:hover .search__item-input-option{
    display: block;
}

.search__item-input-selected span{
    margin: 0 8px
}

.search__item-input-selected i{
    margin: 0 4px 0 0 ;
}

.search__item-input-option{ 
    position:absolute;
    z-index: 99999999;
    top: 180%;
    right: 0;
    background-color: var(--white-color);
    width: 190px;
    border-left: 1px solid rgba(248, 248, 248,0.5);
    font-size: 1.3rem;
    font-weight: 300;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: none;
    animation: fadeIn linear 0.3s;
    will-change: opacity;
}

.search__item-input-optional{
    padding: 14px 8px;
    text-align: right;  
} 

.search__item-input-optional:hover{
    background-color: rgba(235, 235, 235, 0.6);
    cursor: pointer;
}

.search__item-input-option::before{
    content: "";
    display: block;
    width: 100%;
    height: var(--height-connect_pseudoclass);
    position: absolute;
    top: -30px;
    right: 0;
}

.search__item-input-optional i{
    color: var(--current-color);
    margin-left: 8px;
}

.search__item-button{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 100;
    background-color:#fe6433;
    border-radius: 2px;
    margin-left: 2px;
}

.search__item-button-icon{    
    margin: 8px 24px;
}

.search__item-navbarundersearch{
    margin: 4px 0 12px 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
}

.search__item-navbarundersearch-list{
    list-style-type: none;
    margin-right: 24px;
}

.search__item-navbarundersearch-name{
    text-decoration: none;
    font-weight: 300;
    font-size: 1.4rem;
    color:var(--white-color);
}

/* cart css */

.search__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: 300;
    padding: 8px;
    margin-top: 16px;
    position: relative;
    margin-left: 8px;
}

.search__cart-icon > span{
    position: absolute;
    padding: 0px 8px;
    color: var(--current-color);
    background-color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 10px;
    top: -4px;
    border: 2px solid rgb(255, 54, 54);
    right: -8px;
}

.search__item-button-icon:hover,
.search__shopeelogo:hover{
    cursor: pointer;
}

.cart{
    position: absolute;
    top: 128%;
    right: -4px;
    width: 400px;
    display: none;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transform-origin: calc(100% - 24px) top;
    animation: GrowUp ease 0.4s,fadeIn ease 0.4s;
    will-change: opacity,transform;
    z-index: 99999;
}

.cart::before{ 
    content: "";
    display: block;
    border-width: 20px 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -32px;
    right: 0;
}

.cart::after{
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    top: -38px;
    right: 0;
    width: 100%;
    height: var(--height-connect_pseudoclass)
}

.search__cart-icon:hover .cart{
    cursor: pointer;
    display: block;
}

.cart__header{
    display: flex;
    align-items: center;
    height: 26px;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 12px 8px;
    color: #7f7f7f;
}

.cart__content{
    display: flex;
}

.cart__content-list{
    display: block;
    background-color: rgba(245, 62, 45,0.1);
    margin: 0;
    padding: 0;
}

.cart__content-item{
    display: flex;
    width: 100%;
    list-style-type: none;
    padding: 8px;
}

.cart__content-item:hover{
    cursor: pointer;
    background-color: rgba(245, 62, 45,0.05)
}

.cart__content-item-name,.cart__content-item-description{
    display: block;
    margin-left: 16px;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--text-color);
}

.cart__content-item-img{
    height: var(--notify__content-item-img);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.cart__footer{
    display: flex;
    justify-content:space-between;
    padding: 0 8px;
    margin: 8px 0;
}

.cart__footer-note{
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 16px;
}
.cart__footer-button{
    display: block;
    background-color: var(--current-color);
    padding: 8px 16px;
    border-radius: 2px;
}
.cart__footer-button-link{
    text-decoration:none;
    font-weight:300;
    font-size: 1.6rem;
    color:var(--white-color);
}

.container{
    padding: 24px 0;
    background-color: #f5f5f5;
}

.container__head-filter{
    display: flex;
    align-items: center;
}

.container__head-filter span{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 14px 0;
}

.filtericon{
    fill: var(--black-color);
    height: 18px;
    margin-right: 8px;
}

.content-list{
    padding: 0;
}

.content-list__item-text {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 0 0 18px 0;
}

.content-list__item{
    border-bottom: 1px solid #e0e0e0;
    list-style-type: none;
    padding: 24px 0 12px 0 ;
}

.content-list__item-label{
    margin: 20px 0;
}

.content-list__item-label:hover{
    cursor: pointer;
}

.content-list__item-label a{
    text-decoration: none;
}

.checkbox-name{
    margin-left: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
}

.container__head-product{
    display: flex;
    justify-content: space-between;
    margin-top: 14px ;
    margin-bottom: 14px ;
}

.container__head-notify{
    color: #7f7f7f;
    font-size: 1.6rem;
    font-weight: 300;
}


.container__head-expandBtn:hover{
    color: rgb(248, 96, 82);
    cursor: pointer;
}

.container__head-expandBtn a {
    text-decoration: none;
    color: var(--current-color);
    font-size: 1.6rem;
    font-weight: 300;
}

.container-shop{
    text-decoration: none;
    height: 120px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    background-clip: content-box;
    position: relative;
    left: 0;
    top: 0;
    transition: top linear 0.1s,left linear 0.1s;
}

.container-shop:hover {
    box-shadow: 0 0 0 rgba(0,0,0,0.9);
    top: -1px;
    left: ;: -1px;
}

.container-shop__info{
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.container-shop__info-img{
    height: 64px;
}

.container-shop__info-name{
    margin-left: 24px;
}

.info-name{
    font-weight: 400;
    font-size: 1.7rem;
    color: var(--text-color);
    margin: 4px 0 8px 0;
}

.info-appeal{
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 4px 0 8px 0;
}

.info-fame{
    font-weight: 300;
    font-size: 1.2rem;
    color: rgba(65, 65, 65, 0.5);
    margin: 4px 0 8px 0;
    display: flex;
}

.info-fame__admiration{
    margin-left: 6px;
}

.info-fame__follower{
    padding-right: 6px;
}

.info-fame__follower span,.info-fame__admiration span{
    color: rgb(255, 28, 28);
    font-weight: 400;
}

.info-fame__follower{
    border-right: 1px solid rgba(65, 65, 65, 0.5);
}

.container-shop__review{
    display: flex;
    align-items: center;
}

.container-shop__review-board{
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

/* float up container-shop but outstanding */

/* .container-shop:hover{
    animation: floatup ease 0.3s;
    box-shadow: 0 0 5px rgba(65, 65, 65, 0.1);
} */

.typical{
    list-style-type: none;
    color: var(--text-color); 
    text-align: center;
    padding-left: 12px ;
    border-left: 1px solid rgba(65, 65, 65, 0.1);
}

.typical__value{
    color: var(--current-color);
    margin-bottom: 16px;
    font-size: 1.7rem;
    font-weight: 300;
}

.typical__name{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 300;
}

.container-result{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
}

.container-result__item-icon,.container-result__item{
    font-size: 1.7rem;
    font-weight: 300;
    color: rgba(143, 143, 143,0.9);
    margin-right: 4px;
}

.container-result__item span{
    color: var(--current-color);
    font-weight: 400;
}

.filter-bar{
    display: flex;
    justify-content: space-between;
    background-color: #e6e6e6;
    border-radius: 3px;
    background-clip: content-box;
}

.filter-bar__tool{
    display: flex;
    padding: 11px 18px; 
}

.filter-bar__tool:nth-child(2){
    justify-content: flex-end;
}

.filter-bar__option{
    display: flex;

}

.filter-bar__arrangeto{
    color: rgba(82, 82, 82, 0.7);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 38px;
    margin-right: 16px;
}

.filter-bar__option-relative,
.filter-bar__option-lastest{    
    background-color: var(--white-color);
    color: rgb(90, 90, 90);
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 2px;
    padding: 11px 24px;
    margin: 0 4px;
}

.filter-bar__option-relative:hover,
.filter-bar__option-lastest:hover {
    cursor: pointer;
    background-color: rgb(252, 252, 252);

}

.filter-bar__option-price{
    background-color: var(--white-color);
    color: rgb(90, 90, 90);
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 2px;
    padding: 11px 18px;
    margin: 0 4px;
    position: relative;
}

.filter-bar__option-price-icon{
    margin-left: 123px;  
    color: rgb(90, 90, 90);
    font-weight: 300;
    font-size: 1.4rem;
}

.category-price{
    z-index: 9999;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: calc( 100% + 1px);
    left: 0;
    right: 0;
    background-color: var(--white-color);
}

.category-price::after{
    content: "";
    display: block;
    width: 100%;
    height: var(--height-connect_pseudoclass);
    position: absolute;
    top: -24%;
    right: 0;
}

.filter-bar__option-price:hover .category-price{
    display: block;
}

.category-price__item{
    list-style-type: none;
    color: rgb(90, 90, 90);
    font-weight: 400;
    font-size: 1.4rem;
    padding: 12px 16px;
}

.category-price__item:hover {
    cursor: pointer;
    color: var(--current-color);
}

.filter-bar__direction{
    display: flex;
    margin-left: 16px;
}

.filter-bar__pagenumber {
    color: rgb(90, 90, 90);
    font-weight: 400;
    font-size: 1.4rem;
}

.filter-bar__pagenumber span{
    color: var(--current-color);
    line-height: 38px;
}

.filter-bar__direction-back{
    border-right: 1px solid rgba(65, 65, 65, 0.1);
}

.filter-bar__direction-next,.filter-bar__direction-back{
    background-color: var(--white-color);
    border-radius: 2px;
    text-decoration: none;
    display: block;
}

.filter-bar__direction-next:hover,.filter-bar__direction-back:hover{
    background-color: rgb(252, 252, 252);
    cursor: pointer;
}

.filter-bar__direction-icon{
    color: rgba(59, 59, 59,0.4);
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 38px !important;
    margin: 0 12px;
}

.container-product{
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 2px;
    background-color: var(--white-space);
}

.container-product__list{
    margin-top: 6px;
    margin-bottom: 6px;
}

.container-product__item{ 
    background-color: var(--white-color);
    border: 1px solid #ccc;
    display: block;
    text-decoration: none;
    position: relative;
    top: 0;
    right: 0;
    will-change: transition;
    transition: top linear 0.1s,right linear 0.1s;
}

.container-product__item:hover{
    right: -1px;
    top: -1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.container-product__item-img{
    padding-top: 100%;
    background-repeat: none;
    background-size: contain;
    background-position: center;
}

.container-product__item-name{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:var(--text-color);
    font-weight: 300;
    height: 3.6rem;
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    margin: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.container-product__item-price{
    margin: 4px 10px;
}

.container-product__item-price-old{
    text-decoration: line-through;
    margin-right: 8px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
}

.container-product__item-price-current{
    color: var(--current-color);
    font-size: 1.4rem;
    font-weight: 300;

}

.container-product__item-action{
    margin: 10px;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}

.container-product__item-like-regular{
    font-size: 1.4rem;
}
.container-product__item-like-solid{
    font-size: 1.4rem;
    display: none;
    color: var(--current-color);
}

.container-product__item-liked .container-product__item-like-regular{
    display: none;
}
.container-product__item-liked .container-product__item-like-solid{
    display: block;
}

.container-product__item-rating{
    font-size: 1.2rem;
    transform: scale(0.8);
    margin-left: auto;
    color: var(--text-color);
}

.container-product__item-rating-star-icon{
    color: var(--gold-star-color);
}

.container-product__item-sold{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 300;
}

.container-product__item-origin{
    display: flex;
    margin: 10px;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--text-color);
}

.container-product__item-origin-brand{
    margin-right: auto;
}

.container-product__item-origin-location{
}










